html{

background-color: #BEB9B5;
  background-position: center center;
}

body
{

  position: static;

}

.tamaño{
  font-size: 30px;

}


h1
{
    font-size: 40px;
    color: black;
    text-align: center;
}

h2
{
    margin-bottom: 0px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: #525564;
    padding-left: 5px;
    padding-top: 3px;
}

hr{
  color: black;
  width: 75%;

}
.contenido
{
    font-size: 18px;
    background-color: #C25B56;
    color: white;
}

.comodin
{
    margin-top: 5px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom: 3px solid #525564;
    border-left: 3px solid #525564;
    border-right: 3px solid #525564;
    overflow: auto;
    font-size: 18px;
    padding-left: 5px;
    padding-top: 5px;
}




div img
{
    width: 350px;
    height: 350px;
    float: right;
    padding: 10px;
}

strong{
   font-style:italic;
}

em{

    font-weight:bold;
}
