/*
 * Colores obtenidos de:
 *    http://www.colorcombos.com/color-schemes/7625/ColorCombo7625.html
 *
 */
/***************************/
/** Reglas para etiquetas **/
/***************************/
html{

background-color: black;
background-image: url("../public/img/li.jpg");
  background-position: center center;
}

body
{

  position: static;
  width: 70%;
  margin: 0 auto;
}

h1
{

    font-size: 40px;
  color: white;
text-align: center;

}

.contenido
{
    color: #96C0CE;
    width: 80%;
    padding: 50px;
    float: left;

}

.comodin
{
    margin-top: 0px;
    background-image: url("../public/img/stardust.png");
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    padding: 10px;
    font-size:18px;
    text-align: right;

}

h2
{
   background-color: #96C0CE;
   margin-bottom: 0px;
   border-top-left-radius: #96C0CE;
   border-top-right-radius: #96C0CE;
   padding-left: 20px;
   padding-top: 5px;
}

.titulo a
{
    color: black;

}

.elaborado
{
  color: white;
    font-size: 20px;
  float: right;
}


/*
-----------------------------------------------------------------
*/
strong{
   font-style:italic;
}

em{

    font-weight:bold;
}
